Package: com.xcxiao.hdik-ios
Name: hdik-iOS
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: XCXiao
Author: XCXiao
Section: System
Tag: role::hacker
Version: 0.0.1
Installed-Size: 132
